In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import warnings

In [4]:
df = pd.read_csv("PC_Export_2016_2017.csv")
df.head()

,pc_code,pc_description,unit,country_code,country_name,quantity,value
0,99,Other Commodities,Na,599,Unspecified,NaN,270.889542
1,99,Other Commodities,Na,1213,Kenya,NaN,17.159452
2,99,Other Commodities,Na,1395,Tanzania Rep,NaN,8.896539
3,99,Other Commodities,Na,1417,Uganda,NaN,5.181412
4,99,Other Commodities,Na,2035,Benin,NaN,2.476015

In [5]:
df.describe()

       country_code      quantity         value
count  20844.000000  1.006500e+04  20844.000000
mean    9053.099645  3.903794e+06     13.267463
std     4495.312603  7.484555e+07    136.903421
min        2.000000  0.000000e+00      0.000000
25%     4365.000000  1.360000e+02      0.024924
50%    10179.000000  5.175000e+03      0.299185
75%    13101.000000  1.690850e+05      2.788682
max    16409.000000  5.710303e+09   9599.857922

In [6]:
#untuk mengetahui informasi dari setiap variabel 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20844 entries, 0 to 20843
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pc_code         20844 non-null  object
 1   pc_description  20844 non-null  object
 2   unit            20844 non-null  object
 3   country_code    20844 non-null  int64
 4   country_name    20844 non-null  object
 5   quantity        10065 non-null  float64
 6   value           20844 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.1+ MB

Memeriksa nilai yang null

In [7]:
total = df.isnull().sum().sort_values(ascending=False)

percent = (df.isnull().sum()/df.isnull().count())\
.sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, \
                        keys=['Total', 'Missing Percent'])

missing_data['Missing Percent'] = \
missing_data['Missing Percent'].apply(lambda x: x * 100)

missing_data.loc[missing_data['Missing Percent'] > 10][:10]

          Total  Missing Percent
quantity  10779        51.712723

In [8]:
housing = pd.read_csv('./PC_Export_2016_2017.csv')

In [9]:
housing.shape

(20844, 7)

Analisis Variabel Secara Individual

In [10]:
numerical_vars = ['pc_code','country_code','quantity','value']
categorical_vars = ['pc_description','unit','country_name']

In [11]:
housing = housing[numerical_vars+categorical_vars]

In [12]:
housing.shape

(20844, 7)

Memahami Variabel Numerical

In [13]:
housing['pc_code'].describe()

count     20844
unique      168
top          H8
freq        209
Name: pc_code, dtype: object

In [14]:
housing['country_code'].describe()

count    20844.000000
mean      9053.099645
std       4495.312603
min          2.000000
25%       4365.000000
50%      10179.000000
75%      13101.000000
max      16409.000000
Name: country_code, dtype: float64

In [15]:
housing['quantity'].describe()

count    1.006500e+04
mean     3.903794e+06
std      7.484555e+07
min      0.000000e+00
25%      1.360000e+02
50%      5.175000e+03
75%      1.690850e+05
max      5.710303e+09
Name: quantity, dtype: float64

In [16]:
housing['value'].describe()

count    20844.000000
mean        13.267463
std        136.903421
min          0.000000
25%          0.024924
50%          0.299185
75%          2.788682
max       9599.857922
Name: value, dtype: float64

In [17]:
housing[numerical_vars].describe()

       country_code      quantity         value
count  20844.000000  1.006500e+04  20844.000000
mean    9053.099645  3.903794e+06     13.267463
std     4495.312603  7.484555e+07    136.903421
min        2.000000  0.000000e+00      0.000000
25%     4365.000000  1.360000e+02      0.024924
50%    10179.000000  5.175000e+03      0.299185
75%    13101.000000  1.690850e+05      2.788682
max    16409.000000  5.710303e+09   9599.857922

Memahami Variabel Categorical

In [18]:
housing['pc_description'].describe()

count                              20844
unique                               168
top       Drug Formulations, Biologicals
freq                                 209
Name: pc_description, dtype: object

In [19]:
housing['unit'].describe()

count     20844
unique        6
top          Na
freq      10779
Name: unit, dtype: object

In [20]:
housing['country_name'].describe()

count     20844
unique      233
top       U S A
freq        161
Name: country_name, dtype: object

In [21]:
housing[categorical_vars].describe()

                        pc_description   unit country_name
count                            20844  20844        20844
unique                             168      6          233
top     Drug Formulations, Biologicals     Na        U S A
freq                               209  10779          161